<!-- Product Image -->
<% if product.product_image.attached? %>
<div class="product-image">
    <%= image_tag product.product_image, width: 250 %>
</div>
<% else %>
<div class="product-image">
    <p>No image uploaded</p>
</div>
<% end %>

<div class='product-name-and-price'>
    <p style="font-size: 24px;"><%= product.name %></p>
    <p id='product price'>KES <%= product.price %></p>
</div>
<div class='Description'>
    <%= product.description %>
</div>
<!-- Stock and Button logic will go here next -->
<% if mode == "shop" %>
<div class='stock and purchase button'>
    <p id="stock"><%= product.quantity >= 1 ? "In Stock" : "Out of Stock" %></p>
    <p>Purchase Button goes here</p>
<% elsif mode == "inventory" %>
    <p><%= product.quantity %> In Stock</p>

    <!-- Product Threshold logic  -->
    <% if product.low_stock? %>
        <p>Low on Stock</p>
    <% end %>

    <%= link_to "Edit", edit_product_path(product) %>
<% end %>
</div>